<!DOCTYPE html>

{% extends 'zach/base.html' %}

<html lang="ru">

<head>
    {% block title %}За4ет{% endblock %}
</head>
<body>
{% block content %}
    <div class="content_block">
        <div class="col-md-8">
            <div class="row">
                <div class="news">
                    rtr
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_block">
        <div class="col-md-4">
            <div class="row">
                <div class="sidebar">
                    asfa
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>